sudo: false
language: php
php:
  - 7.4
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
install:
  - composer install
after_script:
  - CODECLIMATE_REPO_TOKEN=2c24b220853ff7a472533fb97563518380403febe199edfb84094d2f23e40f1e ./vendor/bin/test-reporter
